@use "../../styles/design-system" as *;

.verticalNavLabel {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 24px;
  gap: 48px;
  left: 38px;

  @media (min-width: 1440px) {
    left: -78px;
  }

  @media (max-width: 767px) {
    display: none;
  }

  .line {
    width: 1px;
    height: 104px;
    background-color: $light-grey;
    transform-origin: top;
    margin-left: 14px;
    margin-right: 9px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    margin: 0 auto;
    span {
      user-select: none;
      @include body-text;
      color: $light-grey;
    }
  }
}
