@use "../../styles/_design-system.scss" as *;

.container {
  position: fixed;
  left: 0;
  right: 0;
  top: 80px; // mobile
  height: 100vh;
  pointer-events: none;
  z-index: 1000;
  @media (min-width: 768px) {
    top: 152px; // tablet/desktop
  }
}

.bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  will-change: transform;
  transform: skewX(0deg) translateX(100%);

  // Couleurs pastel harmonieuses avec le noir et le blanc
  &.bar1 {
    background: #b5d0ff; // bleu pastel doux
    z-index: 1;
  }
  &.bar2 {
    background: #ffe6fa; // rose lavande très pâle
    z-index: 2;
  }
  &.bar3 {
    background: #e3ffe6; // vert menthe pastel
    z-index: 3;
  }
  &.bar4 {
    background: #fff7d6; // jaune vanille pastel
    z-index: 4;
  }
  &.bar5 {
    background: #d6eaff; // pastel bleu ciel très doux
    z-index: 5;
  }
}

@media (prefers-reduced-motion: reduce) {
  .container {
    display: none;
  }
}
